* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

header {
    background-color: #add8e6;
    padding-top: 25px;
}

.nav-bar {
    margin: 0 auto;
    width: 80%;
    height: 70px;
    background-color: #daa520;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.logo, .menu, .login {
    display: flex;
    padding: 16px;
}

.logo {
    width: 25%;
    align-items: center;
}

.menu {
    width: 50%;
    align-items: center;
    justify-content: center;
}

.login {
    width: 25%;
    align-items: center;
    justify-content: flex-end;
}

.menu-item {
    padding: 0 15px;
}

.sfondo-blu {
    display: flex;
    height: 600px;
    background-color: #00008b;
    padding: 25px 0 25px 0;
}

.blocco-fucsia {
    width: 60%;
    margin: 25px auto;
    display: flex;
    align-items: center;
    background-color: #ee82ee;
}

.sfondo-bianco {
    display: flex;
    height: 600px;
    background-color: white;
    padding: 25px 0 25px 0;
}

.blocco-azzurro-sinistra {
    width: 50%;
    margin: 25px 0 25px auto;
    display: flex;
    align-items: center;
    background-color:#1e90ff;
}

.blocco-rosa-destra {
    width: 30%;
    margin: 25px auto 25px 0;
    display: flex;
    align-items: center;
    background-color: #ffc0cb;
}

.sfondo-grigio {
    display: flex;
    height: 600px;
    background-color: #d3d3d3;
    padding: 25px 0 25px 0;
}

.blocco-rosa-sinistra {
    width: 30%;
    margin: 25px 0 25px auto;
    display: flex;
    align-items: center;
    background-color: #ffc0cb;
}

.blocco-azzurro-destra {
    width: 50%;
    margin: 25px auto 25px 0;
    display: flex;
    align-items: center;
    background-color: #1e90ff;
}

.sfondo-grigio-dimensione {
    display: flex;
    height: 1000px;
    background-color: #d3d3d3;
    padding: 25px 0 25px 0;
}

.blocco-verde {
    width: 80%;
    margin: 25px auto;
    display: flex;
    align-items: center;
    background-color: #228b22;
}

.sfondo-nero {
    display: flex;
    height: 600px;
    background-color: #23272a;
    padding: 5px 0 25px 0;
}

.container {
    background-color: #f08080;
    width: 20%;
    display: flex;
    margin: 0 0 25px auto;
}

.flex-container {
    width: 60%;
    display: flex;
    margin: 0 auto 25px 0;
}

.flex-items {
    background-color: #20b2aa;
    width: 25%;
}

.sfondo-nero-dimensione {
    display: flex;
    height: 200px;
    background-color: #23272a;
    padding: 25px 0 0px 0;
}

.blocco-finale {
    background-color: #7fffd4;
    width: 80%;
    margin: 25px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}